<div class="p-grid fondo" style="width: 100vw; height: 100vh">
  <div class="p-col-12"></div>
  <div class="p-col-12"></div>
  <div class="p-col-12">
    <p-card [style]="{width: '60vw', backgroundColor: 'skyblue', justifyItems: 'center'}">
      <div class="p-grid">
        <div class="p-col-12">
          <img src="https://fis.epn.edu.ec/images/FISlogo.jpg" alt="ImagenLogin">
        </div>
        <div class="p-col-12"></div>
        <div class="p-col-12"></div>
        <div class="p-col-12"></div>
        <div class="p-col-12">
          <div class="p-grid">
            <div class="p-col-1"></div>
            <div class="p-col-4 text-center">
              <label for="usuario">Usuario</label>
            </div>
            <div class="p-col-1"></div>
            <div class="p-col-5">
              <input type="text" pInputText id="usuario">
            </div>
            <div class="p-col-1"></div>
          </div>
        </div>
        <div class="p-col-12">
          <div class="p-grid">
            <div class="p-col-1"></div>
            <div class="p-col-4 text-center">
              <label for="password">Contraseña</label>
            </div>
            <div class="p-col-1"></div>
            <div class="p-col-5">
              <input type="password" pInputText id="password">
            </div>
            <div class="p-col-1"></div>
          </div>
        </div>
        <div class="p-col-12">
          <div class="p-grid">
            <div class="p-col-4"></div>
            <div class="p-col-4">
              <button pButton style="width: 100%">Ingresar</button>
            </div>
            <div class="p-col-4"></div>
          </div>
        </div>
      </div>
    </p-card>
  </div>
  <div class="p-col-12"></div>
</div>
